
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>



    <%= form_for @movie, html: { multipart: true } do |f| %>
  <div>
    <%= f.file_field :avatar %>
    <%= image_tag(@movie.avatar_url(:thumb)) %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.text_field :rating %>
  </div>
  <div class="field">
    <%= f.label :theater %><br>
    <%= f.select :theater_id, Theater.all.collect {|p| [ p.name, p.id] }, {include_blank: 'None'} %>
  </div>
  <div class="field">
    <%= f.label :currentviewings %><br>
    <%= f.text_field :currentviewings %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
