

<ul class="nav nav-pills nav-stacked">
<li><button type="button" class="btn btn-info"><%= link_to "Home", root_path %></button></li>
<li><button type="button" class="btn btn-info"><%= link_to "Movies", movies_path %></button></li>
<li><button type="button" class="btn btn-info"><%= link_to "Theaters", theaters_path %></button></li>


</ul>

<h1>Welcome to my Movie Log website. Click <strong><%= link_to "here", "/movies" %></strong> to continue. Click <strong><%= link_to "here", "/theaters" %></strong> to search for theaters.</h1>


<div>
    <p>Hac nam a a id mollis iaculis hac condimentum montes a porta est molestie vehicula ante ultricies sit netus mauris turpis. Mattis elit parturient est vel fermentum pharetra lectus scelerisque augue adipiscing ipsum ad mattis non volutpat faucibus ullamcorper suspendisse placerat risus vestibulum aliquet at massa dictum molestie bibendum. Nunc habitasse sit massa penatibus ultrices a a a a iaculis aenean a adipiscing eget proin ultrices hac vitae a litora. At suspendisse viverra montes ligula auctor at tempor maecenas a quisque enim dictum est suspendisse ullamcorper mi a ullamcorper vestibulum enim donec dui. Orci id varius venenatis parturient parturient suspendisse convallis cras quis mi commodo a vitae mollis habitant justo blandit non porttitor a phasellus parturient ac suspendisse at adipiscing scelerisque. Praesent ut nibh metus tincidunt sagittis semper venenatis dis venenatis blandit faucibus nam dui fringilla parturient.

Lacinia urna nulla egestas penatibus non mi cubilia hendrerit consequat a nascetur adipiscing ipsum a condimentum suspendisse non. Hendrerit erat mi purus porttitor vestibulum a quis fringilla a risus et magna adipiscing a a dolor ligula bibendum fermentum sem vestibulum non cras porta aptent a ullamcorper quam. Parturient a orci nam blandit molestie lacinia est adipiscing mattis vulputate ullamcorper suspendisse at nulla nisl arcu cum cubilia massa vestibulum dui mi enim scelerisque lorem parturient ullamcorper iaculis. Nibh fermentum a adipiscing id senectus ad hac sociosqu cum sem diam orci nullam id nec per a commodo. Neque neque euismod auctor consectetur condimentum ac phasellus dignissim metus ac nisl cum justo nam a a lorem auctor nostra consectetur.

Fermentum diam adipiscing penatibus mus venenatis tempor aliquet adipiscing sed a mi ac sit nec vestibulum nisi. A erat pharetra consectetur pharetra dictumst sed lobortis nulla in adipiscing a a lectus elit parturient donec ornare a amet. Adipiscing at mus parturient a adipiscing hac arcu parturient integer massa tincidunt vestibulum per lacus ultrices a arcu habitant semper tempor scelerisque eros volutpat adipiscing a imperdiet.</p>

</div>
